# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Composer
/vendor/

# Drupal files
/web/sites/default/files/
/web/sites/default/services.yml

# Environment
.env

# DDEV local overrides
.ddev/.dbimageBuild/
.ddev/.webimageBuild/

# Logs
*.log
# Local database backups
*.sql
*.sql.gz

node_modules/

# Drupal Composer-managed contributed modules
/web/modules/contrib/

