# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Composer
/vendor/

# Drupal files
/web/sites/default/files/

# Environment
.env

# DDEV local overrides
.ddev/.dbimageBuild/
.ddev/.webimageBuild/

# Logs
*.log
# Local database backups
*.sql
*.sql.gz
